<mat-card>
  <mat-card-header>
    <mat-card-title>Aktuelle Platzbelegung</mat-card-title>
    <mat-card-subtitle>Es sind Plätze frei!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="list">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let court of court | async">
          <div mat-line>
            {{ court.name }}
            {{ court?.occupied === true ? 'belegt' : 'frei' }}
          </div>
          <mat-icon
            mat-list-icon
            [style.color]="court?.occupied === true ? 'red' : 'green'"
            >lens</mat-icon
          >
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>

<!--<div class="centered">-->
<!--  <button mat-flat-button (click)="this.courtOccupancyService.toggleCourt1(1)">-->
<!--    Platz 1 freigeben-->
<!--  </button>-->
<!--  <button mat-flat-button (click)="this.courtOccupancyService.toggleCourt1(2)">-->
<!--    Platz 1 belegen</button-->
<!--  ><br />-->
<!--  <button mat-flat-button (click)="this.courtOccupancyService.toggleCourt2(1)">-->
<!--    Platz 2 freigeben-->
<!--  </button>-->
<!--  <button mat-flat-button (click)="this.courtOccupancyService.toggleCourt2(2)">-->
<!--    Platz 2 belegen</button-->
<!--  ><br />-->
<!--  <button mat-flat-button (click)="this.courtOccupancyService.toggleCourt3(1)">-->
<!--    Platz 3 freigeben-->
<!--  </button>-->
<!--  <button mat-flat-button (click)="this.courtOccupancyService.toggleCourt3(2)">-->
<!--    Platz 3 belegen-->
<!--  </button>-->
<!--</div>-->

<a
  class="addButton"
  [class.mobile]="isMobile$ | async"
  mat-fab
  routerLink="/new-booking"
>
  <mat-icon>add</mat-icon>
</a>
