mat-card {
  width: 300px;
  margin: 20px auto;

  mat-card-header {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}

.mat-raised-button {
  margin: auto;
  display: block;
  color: white;
  background: red;
}
