<mat-card>
  <mat-card-header>
    <mat-card-title>Neue Platz Buchung</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Welches Datum?"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Welche Uhrzeit?" type="time" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dauer" min="0" type="number" />
      <span matSuffix class="suffix">h</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Auf welchem Platz?</mat-label>
      <mat-select #select>
        <mat-select-trigger>{{ select.value }}</mat-select-trigger>
        <mat-option
          value="1"
          [disabled]="this.courtOccupancyService.court1IsOccupied === true"
        >
          Platz 1
          <mat-icon
            [style.color]="
              this.courtOccupancyService.court1IsOccupied === true
                ? 'red'
                : 'green'
            "
            >lens</mat-icon
          >
        </mat-option>
        <mat-option
          value="2"
          [disabled]="this.courtOccupancyService.court2IsOccupied === true"
        >
          Platz 2
          <mat-icon
            [style.color]="
              this.courtOccupancyService.court2IsOccupied === true
                ? 'red'
                : 'green'
            "
            >lens</mat-icon
          >
        </mat-option>
        <mat-option
          value="3"
          [disabled]="this.courtOccupancyService.court3IsOccupied === true"
        >
          Platz 3
          <mat-icon
            [style.color]="
              this.courtOccupancyService.court3IsOccupied === true
                ? 'red'
                : 'green'
            "
            >lens</mat-icon
          >
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<button
  mat-raised-button
  [disabled]="!select.value"
  (click)="this.newBooking(select.value)"
>
  Buchen
</button>
