@import "~@angular/material/theming";

.mat-toolbar {
  display: flex;
  background-color: #df0203;
  color: white;
  position: sticky;
  //top: 0;
  //z-index: 1;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.sidenav-container {
  height: calc(100% - 64px);
}

:host::ng-deep .sidenav .mat-drawer-inner-container {
  width: 100px;
  overflow: hidden;
  text-align: center;
}

.sidenav {
  padding: 10px;

  .nav-item {
    height: 72px;
    line-height: 16px;
    padding: 12px 5px 0 0;
    opacity: 0.6;

    div {
      margin-left: -12px;
      width: 72px;
    }

    &.active {
      opacity: 1;
      color: mat-color($mat-indigo, 500);
    }
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  height: 56px;
  display: flex;
  justify-content: space-evenly;

  .nav-item {
    min-width: 80px;
    max-width: 168px;
    flex-grow: 1;
    line-height: 16px;
    padding: 8px 12px 12px;
    opacity: 0.6;

    div {
      line-height: 12px;
    }

    &.active {
      opacity: 1;
    }
  }
}
