<mat-toolbar>
  <span>TC-Wennemen</span>
</mat-toolbar>

<ng-container *ngIf="!(isMobile$ | async)">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" [attr.role]="'navigation'" mode="side" opened>
      <ng-template [ngTemplateOutlet]="links"></ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-template [ngTemplateOutlet]="content"></ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="isMobile$ | async">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <mat-toolbar color="primary" class="bottom-nav">
    <ng-template [ngTemplateOutlet]="links"></ng-template>
  </mat-toolbar>
</ng-container>

<ng-template #links>
  <a
    routerLink="/dashboard"
    routerLinkActive="active"
    #rlaDashboard="routerLinkActive"
    mat-button
    class="nav-item"
  >
    <mat-icon>
      <!--      [fontSet]="-->
      <!--        rlaDashboard.isActive ? 'material-icons' : 'material-icons-outlined'-->
      <!--      "-->
      dashboard</mat-icon
    >
    <div>Dashboard</div>
  </a>
  <a
    routerLink="/new-booking"
    routerLinkActive="active"
    #rlaNewBooking="routerLinkActive"
    mat-button
    class="nav-item"
  >
    <mat-icon>
      <!--      [fontSet]="-->
      <!--        rlaNewBooking.isActive ? 'material-icons' : 'material-icons-outlined'-->
      <!--      "-->
      add_circle</mat-icon
    >
    <div>Neue Buchung</div>
  </a>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
